@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .cstm-flex-col {
    @apply flex flex-col items-center justify-center;
  }

  .cstm-flex-row {
    @apply flex flex-row items-center justify-center;
  }

  .cstm-separator {
    @apply w-full h-[.5px] bg-black bg-opacity-10;
  }

  .cstm-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-scndColor scrollbar-track-accntColor;
  }

  .cstm-bg-hover {
    @apply hover:bg-black hover:bg-opacity-5 transition-all p-2.5 rounded-full cursor-pointer;
  }
}

@layer utilities {
  .cstm-w-limit {
    @apply l-s:w-[70%] l-s:ml-auto l-l:w-[80%];
  }
}

button:hover {
  box-shadow: 0rem 0.2rem 0.2rem 0.05rem rgba(0, 0, 0, 0.1);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}

option {
  cursor: pointer;
}

td,
th {
  white-space: nowrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table,
th,
td {
  border-collapse: collapse;
}

td:not(:first-of-type),
th:not(:first-of-type) {
  min-width: 7rem;
}

input[type="password"]::-ms-reveal {
  display: none;
}

.react-datepicker {
  background: white;
  font-family: var(--font-poppins);
  font-size: x-small;
}

.react-datepicker__header {
  padding: 1rem;
  background-color: #552acb80;
}
.react-datepicker__day-name,
.react-datepicker__current-month {
  color: white;
}

.react-datepicker__navigation {
  top: 1rem;
}

.react-datepicker__navigation:hover {
  box-shadow: none;
  border-color: white;
  color: white;
}

.react-datepicker__navigation-icon::before {
  border-color: white;
}
.react-datepicker__day--default,
.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__day--in-range {
  background-color: #552acb80;
  color: white;
}

.react-datepicker__day--outside-month {
  opacity: 0.5;
}
