@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .cstm-flex-col {
    @apply flex flex-col items-center justify-center;
  }

  .cstm-flex-row {
    @apply flex flex-row items-center justify-center;
  }

  .cstm-separator {
    @apply w-full h-[.5px] bg-black bg-opacity-10;
  }

  .cstm-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-scndColor scrollbar-track-accntColor;
  }

  .cstm-bg-hover {
    @apply hover:bg-black hover:bg-opacity-10 transition-all p-2 rounded-full cursor-pointer;
  }
}

button:hover {
  box-shadow: 0rem 0.2rem 0.2rem 0.05rem rgba(0, 0, 0, 0.1);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}

option {
  cursor: pointer;
}

td,
th {
  white-space: nowrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table,
th,
td {
  border-collapse: collapse;
}

td:not(:first-of-type),
th:not(:first-of-type) {
  min-width: 7rem;
}

input[type="password"]::-ms-reveal {
  display: none;
}
